<h4>About the Applicant</h4>
<div ng-controller="AppliedloanCtrl">
  <div class="container-fluid">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Applicant Details</legend>
     
     <div class="container-fluid">
       <div class="col-sm-5">
         <div class="row">
           <div class="col-sm-6 name">Purpose of loan:</div>
           <div class="col-sm-6 pull-right">{{loanData.purposeOfLoan}}</div>
         </div>
          <div class="row">
           <div class="col-sm-6 name">Purpose of loan:</div>
           <div class="col-sm-6 pull-right">Home Loan</div>
         </div>
       </div>
     </div>
       
</fieldset>
</div> 
</div>
