<h4 class="loginAndRegHead">Register As Borrower</h1>
<div class="container-fluid" id="regFormDiv" ng-controller="RegisterCtrl">
	<form ng-submit="processForm(form.$valid)" novalidate name="form">
	<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control cus-form-control" id="name" placeholder="name" name="name" ng-model="formData.name" required>
    <span class="req" ng-show="form.name.$error.required">Name is required</span>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control cus-form-control" id="email" placeholder="email" name="email" ng-model="formData.email" required ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
    <span class="req" ng-show="form.email.$error.required">Email address is required</span>
    <span class="req" ng-show="form.email.$error.pattern">Email address is not valid</span>
  </div>
  	<div class="form-group">
    <label for="mobile">Mobile</label>
    <input type="text" class="form-control cus-form-control" id="mobile" placeholder="Mobile" name="mobile" ng-model="formData.mobile" required  ng-pattern="/^\-?\d+$/">
    <span class="req" ng-show="form.mobile.$error.required">Mobile is required</span>
    <span class="req" ng-show="form.mobile.$error.pattern">Enter digits only</span>
    
  </div>
  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" class="form-control cus-form-control" id="pwd" placeholder="Password" name="password" ng-model="formData.password" required>
    <span class="req" ng-show="form.password.$error.required">Password is required.</span>
  </div>

  <div class="text-center">
  	<button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Create Account</button><span style="padding:0px 10px;">or</span>
  	<a href="#!/login">Login</a>
  </div>
</form>

</div>